.container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.flex-item{
    display: flex;
    justify-Content: center;
}

.card{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    margin: 10px;
    border-radius: 10px;
    background: #02caca;
}